@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Poppins:wght@400;600;800&display=swap');

/* CSS variables */

:root{
  --ivory: rgba(252, 252, 247, 1);
  --light-moss: rgba(216, 218, 205, 1);
  --light-moss-2: rgba(216, 218, 205, 0.5);
  --dark-moss: rgba(60, 84, 54, 1);
  --bright-green: rgba(150, 168, 12, 1);
  --green-black: rgba(34, 30, 19, 1);
  --green-black-2: rgba(34, 30, 19, 0.5);
}

/* IMG for background */
/*
https://images.unsplash.com/photo-1531129915305-9e84bb5a4b15?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80
*/